<div class="container">
  	<div class="page-header">
	    <h1>Resources</h1>
  	</div>
	<div class="panel panel-default">
		<div class="panel-body"><a href="https://med.noridianmedicare.com/web/jddme/policies/lcd/active">Active Local Coverage Determinations (LCDs)</a>
		<br>
		Use this to check the allowable amounts for various medical supplies and product therapies.  You can also enter the HCPCS code you are looking for in the search bar on the top of the page.</div>	
  	</div>
  	<div class="panel panel-default">
		<div class="panel-body"><a href="https://www.dmepdac.com/dmecsapp/do/feesearch">HCPCS code and modifier descriptions</a>
		<br>
		Simply enter the HCPCS code or modifier you are looking into for a brief description.  You can also look up the fee schedule for any HCPCS code.</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body"><a href="http://www.medilexicon.com/">Common medical abbreviations and ICD codes</a>
		<br>
		Search for common medical abbreviations that are used by physicians.  This is useful when reviewing chart notes.  You can also search for ICD codes if it is unclear what the diagnosis should be for a Medicare beneficiary.</div>	
  	</div>
  	<div class="panel panel-default">
		<div class="panel-body"><a href="https://npiregistry.cms.hhs.gov/">NPI Registry search</a>
		<br>
		Use this to verify the NPI number for a physician.  It includes demographic information along with a phone and fax number.</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body"><a href="https://www.medicare.gov/supplierdirectory/search.html">Competitive Bidding Area (CBA) search</a>
		<br>
		Enter the beneficiary's zip code to verify if they are in a competitive bidding area. You can then determine if they are in a CBA you are not contracted with.</div>
	</div>
</div>